

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: Georgia, serif;
    color: #926239;
    line-height: 1.6;
}

/* showcase */
#showcase{
    background-image: url(../img/main-bg.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#showcase h1{
    font-size: 3rem;
    line-height: 1.2;
    text-shadow: 2px 2px 3px #000;
}
#showcase h1 span{
    background-color: #002400;
    padding: 0 50px;
    border: 3px solid #926239;
    border-radius: 5px;
}
#showcase p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 50px;
    text-shadow: 2px 2px 3px #000;
}
#showcase .button{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #002400;
    background-color: #926239;
    border: 3px solid #002400;
    border-radius: 5px;
    padding: 5px 30px;
    margin-top: 50px;
    transition: all .3s;
}
#showcase .button:hover{
    color: #926239;
    background-color: #002400;
    border: 3px solid #926239;
}

/* section */
#section{
    font-family: Tahoma,sans-serif;
    background-color: #000;
    height: 90vh;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}
.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}
@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}
.ring::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px #ffffff4d;
}
#section span{
    color: #f00;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}
@keyframes text{
    50%{
        color: #000;
    }
}

/* footer */
footer{
    background-color: #000;
    color: #f00;
    height: 10vh;
}
.artist{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .8rem;
    min-height: 10vh;
}